---
layout: default
title: 404 - Page not found
permalink: /404.html
---

<div class="text-center">
  <h1>Page not found!</h1>
  <br/>
  <a href="https://daniellerch.me">daniellerch.me</a>
</div>



<ul>
    {% for post in paginator.posts %}
      <li>
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}"><h2>{{ post.title }}</h2></a>
          <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time>
          <p>{{ post.content }}</p>
          {% if post.hn %}
          <hr>
          <hr>
          {% endif %}
          <br>
      </li>
    {% endfor %}
</ul>

