---
layout: default
title: Home
---

<!--
{% if page.url == "/" %}

<h1 class="lead" style='font-size:26px'>{{ site.description }}</h1>
<br>

{% endif %}
-->

<section class="recent-posts" style="width:65%;margin-left:auto;margin-right:auto">
    
    <div class="section-title">
        
        <h2><span>Latest</span></h2>
        
    </div>
    
    <div class="row listrecent">

        {% for post in paginator.posts %}

               {% include postlist.html %}          

        {% endfor %}
        
    </div>
    
</section>




<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

