<div id="cookieConsentDialog">
    <div class="cookieDialog">
        <div class="cookieIn">
            <div class="cookieBox">
                <a href="#" class="cookieClose" title="close">&#x2716;</a>
                <h2>Cookie consent</h2>
                <p>We use cookies on our website to analyze and enhance your website experience. Cookies help us understand how you interact with our site, allowing us to improve its functionality and your user experience.

               <p>Accepting these cookies helps us to improve our website.</p>
                        
                <div id="cookieDialog_buttonbar" class="buttonbar">
                    <input style='font-size:16px;margin-right:20px' 
                           class="btn" type="submit" name="" 
                           value="Reject analytical cookies" 
                           id="coookieDialog_reject_button" 
                           class="cookieNoticeButton gray" 
                           title="">
                    <input style='font-size:16px;font-weight:bold' 
                           class="btn btn-primary" 
                           type="submit" name="" 
                           value="Accept analytical cookies" 
                           id="coookieDialog_accept_button" 
                           class="cookieNoticeButton green" 
                           title="">
                </div>
 
               <br>
               For more information you can review our <a href="/privpolicy.html">Privacy Policy</a>.
       
            </div>
        </div>
    </div>
    <div class="cookieOverlay"></div>
</div>
